/dev/genlock              0666   system     system
/dev/wlan                 0660   system     system
/dev/kgsl-3d0             0666   system     system
/dev/ion                  0664   system     system
/dev/rtc0                 0660   system     system
/dev/smd0                 0660   system     system
/dev/smd3                 0660   bluetooth  bluetooth
/dev/smd2                 0660   bluetooth  bluetooth
/dev/smd4                 0660   system     system
/dev/smd_cxm_qmi          0640   radio      radio
/dev/smd5                 0660   system     system
/dev/smd6                 0660   system     system
/dev/smd7                 0660   bluetooth  bluetooth
/dev/ipa                  0660   system     net_admin
/dev/wwan_ioctl           0660   system     net_admin
/dev/ipaNatTable          0660   net_admin  net_admin
/dev/rmnet_ctrl           0660   usb        usb
/dev/dpl_ctrl             0660   usb        usb

#permissions for CSVT
/dev/smd11                0660   radio      radio

#permissions for pta
/dev/pta                  0660   system     system

/dev/radio0               0640   system     system
/dev/ccid_bulk            0660   system     system
/dev/ccid_ctrl            0660   system     system
/dev/ttyUSB0              0660   bluetooth  bluetooth
/dev/smdcntl0             0640   radio      radio
/dev/smdcntl1             0640   radio      radio
/dev/smdcntl2             0640   radio      radio
/dev/smdcntl3             0640   radio      radio
/dev/smdcntl4             0640   radio      radio
/dev/smdcntl5             0640   radio      radio
/dev/smdcntl6             0640   radio      radio
/dev/smdcntl7             0640   radio      radio
/dev/smdcntl8             0640   radio      radio
/dev/smdcnt_rev0          0640   radio      radio
/dev/smdcnt_rev1          0640   radio      radio
/dev/smdcnt_rev2          0640   radio      radio
/dev/smdcnt_rev3          0640   radio      radio
/dev/smdcnt_rev4          0640   radio      radio
/dev/smdcnt_rev5          0640   radio      radio
/dev/smdcnt_rev6          0640   radio      radio
/dev/smdcnt_rev7          0640   radio      radio
/dev/smdcnt_rev8          0640   radio      radio
/dev/smuxctl32            0640   radio      radio
/dev/rmnet_mux_ctrl       0640   radio      radio
/dev/mhi_pipe_14          0640   radio      radio
/dev/mhi_pipe_16          0640   radio      radio
/dev/mhi_pipe_32          0640   radio      radio
/dev/at_usb0              0640   radio      radio
/dev/at_mdm0              0640   radio      radio
/dev/video*               0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera
/dev/qseecom              0660   system     drmrpc
/dev/smcinvoke            0660   system     system
/dev/qsee_ipc_irq_spss    0660   system     drmrpc
/dev/seemplog             0660   system     system
/dev/pft                  0660   system     drmrpc
/dev/spcom                0660   system     system
/dev/sp_kernel            0660   system     system
/dev/sp_ssr               0660   system     system
/dev/jpeg0                0660   system     camera
/dev/jpeg1                0660   system     camera
/dev/jpeg2                0660   system     camera
/dev/jpeg3                0660   system     camera
/dev/adsprpc-smd          0664   system     system
/dev/system_health_monitor 0640  radio      system
/dev/mdss_rotator         0664   system     system
/dev/msm_rotator          0660   system     system
/dev/hw_random            0660   system     system
/dev/adsprpc-smd          0664   system     system
/dev/sdsprpc-smd          0664   system     system
/dev/audio_slimslave      0660   system     audio
/dev/avtimer              0660   system     audio
/dev/msm_a2dp_in          0660   system     audio
/dev/msm_alac             0660   system     audio
/dev/msm_ape              0660   system     audio
/dev/msm_aac              0660   system     audio
/dev/msm_aac_in           0660   system     audio
/dev/msm_ac3              0660   system     audio
/dev/msm_acdb             0660   system     audio
/dev/msm_audio_cal        0660   system     audio
/dev/msm_hweffects        0660   system     audio
/dev/msm_amrnb            0660   system     audio
/dev/msm_amrwb            0660   system     audio
/dev/msm_amrnb_in         0660   system     audio
/dev/msm_amrwb_in         0660   system     audio
/dev/msm_amrwbplus        0660   system     audio
/dev/msm_cad              0660   system     audio
/dev/msm_camera/*         0660   system     camera
/dev/msm_evrc             0660   system     audio
/dev/msm_evrc_in          0660   system     audio
/dev/msm_fm               0660   system     audio
/dev/msm_multi_aac        0660   system     audio
/dev/msm_mvs              0660   system     audio
/dev/msm_pcm_lp_dec       0660   system     audio
/dev/msm_preproc_ctl      0660   system     audio
/dev/msm_qcelp            0660   system     audio
/dev/msm_qcelp_in         0660   system     audio
/dev/msm_rtac             0660   system     audio
/dev/msm_vidc_dec         0660   system     audio
/dev/msm_vidc_dec_sec     0660   system     audio
/dev/msm_vidc_enc         0660   system     audio
/dev/msm_vidc_reg         0660   system     audio
/dev/msm_voicememo        0660   system     audio
/dev/msm_wma              0660   system     audio
/dev/msm_wmapro           0660   system     audio
/dev/ttyHSL1              0660   system     system
/dev/sdio_tty_ciq_00      0660   system     system
/dev/tty_sdio_00          0660   system     system
/dev/ttyGS0               0660   system     system
/dev/i2c-5                0660   media      media
/dev/voice_svc            0660   system     audio
/dev/wcd_dsp0_control     0660   system     audio
/dev/wcd-dsp-glink        0660   system     audio
/dev/video32              0660   system     camera
/dev/video33              0660   system     camera
/sys/devices/virtual/smdpkt/smdcntl* open_timeout 0664 radio  radio

# sensors
/sys/devices/virtual/input/input*        poll           0660    input    system
/sys/devices/virtual/input/input*        pollrate_ms    0660    input    system

# laser sensor access
/sys/devices/virtual/input/input*        enable_ps_sensor 0660  system   system
/sys/devices/virtual/input/input*        set_delay_ms     0660  system   system

# UIO devices
/dev/uio0                 0660   system     system
/dev/uio1                 0660   system     system
/dev/uio2                 0660   system     system

# SSR devices
/dev/subsys_*         0640   system     system

# BT
/dev/hidraw*                                0666 system    system
/dev/btpower                                0660 bluetooth bluetooth
/dev/rfkill                                 0660 bluetooth bluetooth
/dev/ttyHS0                                 0660 bluetooth bluetooth
/dev/ttyMSM0                                0660 bluetooth bluetooth

# NFC
/dev/pn54x                                             0660 nfc nfc
/sys/devices/soc/c1b5000.i2c/i2c-7/7-0028  init_deinit 0200 nfc nfc
/sys/devices/soc/c1b5000.i2c/i2c-7/7-0028  set_pwr     0200 nfc nfc
/sys/devices/soc/c1b5000.i2c/i2c-7/7-0028  res_ready   0400 nfc nfc
/sys/devices/soc/c1b5000.i2c/i2c-7/7-0028  recv_rsp    0600 nfc nfc
/sys/devices/soc/c1b5000.i2c/i2c-7/7-0028  send_cmd    0200 nfc nfc

# LED
/sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pmi8998@3:qcom,leds@d000/leds/led:* max_brightness 0664 system system
/sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pmi8998@3:qcom,leds@d000/leds/led:* brightness     0664 system system
/sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pmi8998@3:qcom,leds@d000/leds/led:* blink          0664 system system
/sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pmi8998@3:qcom,leds@d800/leds/wled  max_brightness 0664 system system
/sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pmi8998@3:qcom,leds@d800/leds/wled  brightness     0664 system system
/sys/class/leds/lcd-backlight/max_brightness                                                                                 0644 root system
/sys/class/leds/lcd-backlight/brightness                                                                                     0664 system system

# Fingerprint sensor  device
/sys/devices/soc/soc:fpc1145 hw_reset         0220 system input
/sys/devices/soc/soc:fpc1145 pinctl_set       0220 system input
/sys/devices/soc/soc:fpc1145 regulator_enable 0220 system input
/sys/devices/soc/soc:fpc1145 spi_prepare      0220 system input
/sys/devices/soc/soc:fpc1145 irq              0660 system input
/sys/devices/soc/soc:fpc1145 wakeup_enable    0220 system input

# Framebuffer for Dynamic Resolution Switch
/sys/devices/virtual/graphics/fb0/mode        0664 system graphics

# Thermanager
/sys/module/msm_performance/parameters/cpu_max_freq   0664 system system
/sys/module/msm_performance/parameters/cpu_min_freq   0664 system system
/sys/module/msm_performance/parameters/max_cpus       0664 system system

# cpuquiet rqbalance permissions
/sys/devices/system/cpu/cpuquiet/nr_min_cpus                         0660 system system
/sys/devices/system/cpu/cpuquiet/nr_power_max_cpus                   0660 system system
/sys/devices/system/cpu/cpuquiet/nr_thermal_max_cpus                 0660 system system
/sys/devices/system/cpu/cpuquiet/rqbalance/balance_level             0660 system system
/sys/devices/system/cpu/cpuquiet/rqbalance/nr_run_thresholds         0660 system system
/sys/devices/system/cpu/cpuquiet/rqbalance/nr_down_run_thresholds    0660 system system
